.container {
    width: 70%;
    margin: auto;
}

h1 {
    letter-spacing: .25rem;
    text-align:center;
}

.submitButton {
    display: block;
    margin: 1rem auto;
    border-radius: 60px;
    cursor: pointer;
    background: #3F88C5;
    padding: 10px 45px;
    border: 5px solid #032B43;
    color: #FFFFFF;
}

.submitButton:hover {
    background: #032B43;
    border: 5px solid #3F88C5;
    color: #FFFFFF;
}

.outputContainer{
    display: block;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    font-size: 2rem;
}

li{
    background: rgba(255, 0, 0, 0.4);
    text-align:center;
    margin: auto;
    margin-top: 1rem;
    list-style: none;
    font-size: 1.25rem;
}

.outputContainer{
    display: block;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    background: rgba(76, 175, 80, 0.3);
    font-size: 2rem;
}